h1 {
    font-size: 80;
    text-align: center;
}
h2 {
    font-size: 30;
    text-align: center; 
}

nav {
    background-color: rgb(53, 53, 126);
    align-items: center;
}

header {
    background-color: rgb(53, 53, 126);
    vertical-align: super;
}

img {
    float:left;
}